/* defaults values */

	body {
		padding: 3em 0;
		font-family: 'Open Sans', sans-serif;
		color: #776E65;
	}

	html, body {
		margin: 0;
		border: none;
		width: 100%;
		min-height: 100%;
		font-size: 16pt;
	}

	#main-content {
		margin: 0 auto;
		overflow: auto;
	}

	p {
		text-align: justify;
		margin: 0;
	}
/* end of defaults values */

/* layout - mobile first */
	#main-content {
		width: 80vw;
	}

	.column {
		width: 80vw;
	}

	#game-field {
		height: 80vw;
	}
/* end of layout - mobile first*/

/* boxes */
	.box {
		border-radius: 0.5em;
		overflow: hidden;
	}
/* end of boxes */

/* buttons */
	button, .button-like {
 		background-color: #bbada0;
 		border: none;
 		height: 4em;
 		line-height: 4em;
 		margin-bottom: 4%;
 		width: 100%;
 		font-size: inherit;
 		color: #eee4da;
 		outline: none;
	}

	.button-like {
		width: 44%;
		padding: 0 0 0 3%;
	}

	.button-like:nth-child(2) {
		float: right;
	}
/* end of buttons */

/* links */
	a {
		color: #776e65;
		font-weight: bold;
	}

	a:hover {
		color: #CDC1B4;
	}
/* end of links */

/* game-field */
	#game-field {
		background-color: #bbada0;
		margin-bottom: 4%;
	}

	.background-grid-box {
		background-color: #CDC1B4;
		margin-left: 4%;
		margin-top: 4%;
		width: 20%;
		height: 20%;
		float: left;
	}
/* end of game-field */

/* responsive */

	@media only screen and (orientation: landscape)  {
		
		html {
			display: table;
		}

		body {
			display: table-cell;
			vertical-align: middle;
		}

		#main-content {
			width: 70vw;
		}

		.column {
			width: 32vw;
		}

		.column:first-child {
			float: left;
		}
		.column:nth-child(2) {
			float: right;
		}

		#game-field {
			height: 32vw;
		}
	}

	@media only screen and (orientation: landscape) and (max-width: 800px)  {

		#main-content {
			width: 86vw;
		}

		.column {
			width: 40vw;
		}

		#game-field {
			height: 40vw;
		}
	}
/* end of responsive 