/* defaults values */

	body {
		padding: 3em 0;
		font-family: 'Open Sans', sans-serif;
		color: #424242;
	}

	html, body {
		margin: 0;
		border: none;
		width: 100%;
		min-height: 100%;
		font-size: 16pt;
	}

	#main-content {
		margin: 0 auto;
		overflow: auto;
	}

	p {
		text-align: justify;
		margin: 0;
	}
/* end of defaults values */

/* layout - mobile first */
	#main-content {
		width: 90vw;
	}

	.column {
		width: 90vw;
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}

	#game-field {
		height: 90vw;
		max-height: 500px;
	}
/* end of layout - mobile first*/

/* boxes */
	.box {
		border-radius: 0.2em;
		overflow: hidden;
	}
/* end of boxes */

/* buttons */
	button, .button-like {
 		border: none;
 		height: 2.5em;
 		line-height: 2.5em;
 		margin-bottom: 4%;
 		width: 100%;
 		font-size: inherit;
 		color: #CCCCCC;
 		outline: none;
	}

	button, .button-like, #game-field {
		background-color: #424242;
	}

	.button-like {
		width: 44%;
		padding: 0 0 0 3%;
	}

	.button-like div {
		display: inline-block;
	}

	.button-like:nth-child(2) {
		float: right;
	}
/* end of buttons */

/* links */
	a {
		color: #D2333E;
		font-weight: bold;
		text-decoration: none;
	}

	a:hover {
		color: #9F272F;
	}
/* end of links */

/* game-field */
	#game-field {
    	position: relative;
    	margin-bottom: 4%;
	}

	.cell {
		position: absolute;
		width: 20%;
		height: 20%;
		background-color: #D2333E;
		color: white;
		text-align: center;
	    display: table;
	    transition: all .2s linear;
	}

	.cell span {
		display: table-cell;
	    vertical-align: middle;
	}

	.column-0 {
		left: 4%;
	}

	.column-1 {
		left: 28%;
	}

	.column-2 {
		left: 52%;
	}

	.column-3 {
		left: 76%;
	}

	.row-0 {
		top: 4%;
	}

	.row-1 {
		top: 28%;
	}

	.row-2 {
		top: 52%;
	}

	.row-3 {
		top: 76%;
	}
/* end of game-field */

/* responsive */

	@media screen and (orientation: landscape) and (min-width: 990px)  {
		
		html {
			display: table;
		}

		body {
			display: table-cell;
			vertical-align: middle;
		}

		#main-content {
			width: 70vw;
		}

		.column {
			width: 32vw;
		}

		.column:first-child {
			float: left;
		}
		.column:nth-child(2) {
			float: right;
		}

		#game-field {
			height: 32vw;
		}
	}
/* end of responsive 